# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Flask / caches
*.log

# Database local (recomendado não versionar)
data/
*.sqlite3

# Uploads / temp (se tiver)
tmp/
